* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.service text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.py text eol=lf
*.md text eol=lf
